@model WebBookStoreManage.Models.SANPHAM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMucChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMucChiTiet.TenDanhMucCT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaGoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaGoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXuatBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayXuatBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuotXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuotXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
