@model WebBookStoreManage.Models.DIACHIGIAOHANG

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DIACHIGIAOHANG</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDiaChi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
