@model IEnumerable<WebBookStoreManage.Models.NGUOIDUNG>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive w-full rounded">
    <thead>
        <tr>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.TenNguoiDung)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </th>
            <th class="border px-4 py-2">
                Tài Khoản
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.TenNguoiDung)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.NgayDangKy)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.TaiKhoan.TenDangNhap)
                </td>
                <td class="border px-4 py-2">
                    <a asp-action="Details" asp-route-id="@item.IdNguoiDung" class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white" title="Details">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.IdNguoiDung" class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdNguoiDung" class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-red-500" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>