
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<body class="h-screen font-sans login bg-cover">
    <div style="background-color: var(--light-color);">
        <div class="container container-profile">
            <!-- Sidebar bên trái -->
            @Html.Partial("Navbar/_NavProfile")

            <!-- Nội dung chính -->
            <div class="main-content">
                <h1>Thông tin cá nhân</h1>

                <div class="card my-4">
                    <div class="card-body">
                        <p><strong>Họ tên:</strong> @Model.TenNguoiDung</p>
                        <p><strong>Email:</strong> @Model.Email</p>
                        <p><strong>Số điện thoại:</strong> @Model.soDienThoai</p>
                        <p><strong>Địa chỉ:</strong> @(String.IsNullOrEmpty(Model.DiaChi) ? "Chưa cập nhật" : Model.DiaChi)</p>
                        <!-- Thêm các thông tin khác nếu cần -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
