@model IEnumerable<WebBookStoreManage.Models.CHITIETPHIEUDAT>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuDat.IdPhieuDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.IdSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChiTietPhieuDat">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChiTietPhieuDat">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChiTietPhieuDat">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
