@model IEnumerable<WebBookStoreManage.Models.DONHANG>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuDat.IdPhieuDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.DienThoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDonHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDonHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDonHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
