@model IEnumerable<WebBookStoreManage.Models.LOAINHANVIEN>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chức năng nhân viên</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive w-full rounded">
    <thead>
        <tr>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.TenLoaiNhanVien)
            </th>
            <th class="border px-4 py-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.TenLoaiNhanVien)
                </td>
                <td class="border px-4 py-2">
                    <a asp-action="Edit" asp-route-id="@item.IdLoaiNhanVien"
                       class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdLoaiNhanVien"
                       class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white" title="Details">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdLoaiNhanVien"
                       class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-red-500" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

